<h2>Your Pragmatic Cart</h2>
<table>
    <%= render partial: 'line_items/line_item', collection: current_cart.line_items.includes(:product).all %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(current_cart.total_price) %></td>
  </tr>
</table>
<%= button_to "Checkout", new_order_path, method: :get %>
<%= button_to "Empty cart", empty_cart_path, method: :delete, data: { confirm: "Are you sure?" } %>
