<p id="notice"><%= notice %></p>
<h1>Your Pragmatic Catalog</h1>
<% cache(["store", Product.maximum(:updated_at)]) do %>
  <%= render partial: 'store/product', collection: @products, as: :product %>
<% end %>
