<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body class="<%= controller_name %>">
    <div id="banner">
      <%= image_tag("logo.png") %>
      <span>Store</span>
    </div>
    <div id="columns">
      <div id="side">
        <div id="cart">
          <%= render "carts/cart" %>
        </div>
        <ul>
          <li> <%= link_to "Home", store_url %> </li>
          <li><a href="#">Faq</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
